/Gemfile.lock

config/config.rb

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/


# Ignore bundler config
/.bundle

# Ignore configuration files
/config/*.yml
/config/unicorn.rb
/config/deploy.rb

/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
.sass-cache/
.DS_Store
Thumbs.db
*.orig
*.swp
*.swo

.rvmrc
/vendor/cache
/.jhw-cache
